<footer id="footer" class="footer-wrapper">
    <section class="section footer-section" id="section_2089788542">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>
        <!-- .section-bg -->
        <div class="section-content relative">
            <div class="row" id="row-1813267762">
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">

                        <h3>Về chúng tôi</h3>
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1047195933">
                            <div class="img-inner dark">
                            </div>

                            <style scope="scope">
                                #image_1047195933 {
                                    width: 59%;
                                }
                            </style>
                        </div>


                        <p>
                            <span style="font-size: 90%;">
                                <strong>Cây Xinh </strong>là thương hiệu dẫn đầu trong
                                lĩnh vực sản xuất &amp; cung cấp các loại Cây Cảnh Để Bàn, Sen Đá, Xương Rồng
                                &amp; Tiểu cảnh Terrarium trang trí nội thất, văn phòng.
                            </span>
                        </p>
                        <p>
                            <span style="font-size: 90%;">
                                Cây Xinh luôn cố gắng tạo ra những sản phẩm đẹp, khác
                                biệt hoàn toàn so với thị trường để đáp ứng mọi nhu cầu của khách hàng với mẫu
                                mã đa dạng, phong phú.
                            </span>
                        </p>
                        <p>
                            <span style="font-size: 90%;">
                                Chúng tôi muốn biến tất những chậu cây cảnh thành những
                                tác phẩm nghệ thuật với tất cả niềm đam mê và tâm huyết của mình...
                            </span>
                        </p>
                        <div class="social-icons follow-icons full-width text-left">
                            <a href="#" target="_blank" data-label="Facebook" rel="noopener noreferrer nofollow" class="icon primary button circle facebook tooltip" title="Follow on Facebook">
                                <i class="icon-facebook"></i>
                            </a><a href="mailto:#" data-label="E-mail" rel="nofollow" class="icon primary button circle  email tooltip" title="Send us an email"><i class="icon-envelop"></i></a><a href="tel:#" target="_blank"
                                                                                                                                                                                                    data-label="Phone" rel="noopener noreferrer nofollow" class="icon primary button circle  phone tooltip" title="Call us">
                                <i class="icon-phone"></i>
                            </a><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="YouTube" class="icon primary button circle  youtube tooltip" title="Follow on YouTube">
                                <i class="icon-youtube"></i>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">

                        <h3>Địa chỉ showroom</h3>
                        <p>
                            <strong>
                                <span style="font-size: 90%; color: #50b848;">
                                    Cơ sở 1:Số 106, Ngõ 72, Nguyễn
                                    Trãi, Thanh Xuân (Cạnh Royal City), Hà Nội
                                </span>
                            </strong>
                        </p>
                        <ul>
                            <li>
                                <span style="font-size: 90%;">
                                    <strong>
                                        <span style="color: #000000;">
                                            Điện
                                            thoại: 
                                        </span><a class="goidt" href="tel:0965962586">
                                            096 596
                                            2586
                                        </a>
                                    </strong> - <strong>
                                        <a class="goidt" href="tel:0948225678">
                                            094
                                            822 5678
                                        </a>
                                    </strong>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <span style="color: #50b848;">
                                        <strong>
                                            <span style="color: #000000;">Email:</span>
                                        </strong>
                                    </span>cayxinh.vn@gmail.com
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <strong>
                                        <span style="color: #000000;">Fanpage:</span>
                                    </strong> <a href="https://www.facebook.com/caycanhmini.plus">https://www.facebook.com/caycanhmini.plus</a>
                                </span>
                            </li>
                        </ul>
                        <p>
                            <span style="color: #50b848;">
                                <strong>
                                    <span style="font-size: 90%;">
                                        Cơ sở 3: Số
                                        310/10 Dương Quảng Hàm, Phường 5, Gò Vấp, Tp HCM
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <ul>
                            <li>
                                <span style="font-size: 90%;">
                                    <strong>
                                        <span style="color: #000000;">
                                            Điện
                                            thoại: 
                                        </span><a class="goidt" href="tel:0941299699">
                                            094 129
                                            9699
                                        </a>
                                    </strong> - <strong>
                                        <a class="goidt" href="tel:0941628000">
                                            094
                                            162 8000
                                        </a>
                                    </strong>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <strong>
                                        <span style="color: #000000;">Email:</span>
                                    </strong>
                                </span><span style="font-size: 90%;">cayxinhsaigon@gmail.com</span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <span style="color: #000000;"><b>Fanpage:</b></span> <a href="https://www.facebook.com/cayxinhsaigon">https://www.facebook.com/cayxinhsaigon</a>
                                </span>
                            </li>
                        </ul>
                        <p>
                            <span style="color: #50b848;">
                                <strong>
                                    <span style="font-size: 90%;">
                                        Cơ sở 2: Số 170,
                                        Bùi Thị Xuân, Tp. Hải Dương
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <ul>
                            <li>
                                <span style="font-size: 90%;">
                                    <strong>
                                        <span style="color: #000000;">
                                            Điện
                                            thoại: 
                                        </span><a class="goidt" href="tel:0868801805">
                                            0868 801
                                            805
                                        </a>
                                    </strong>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <span style="color: #000000;"><b>Email:</b></span> cayxinh.vn@gmail.com
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 90%;">
                                    <span style="color: #000000;"><b>Fanpage:</b> </span><a href="https://www.facebook.com/cayxinhhaiduong/">https://www.facebook.com/cayxinhhaiduong/</a>
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">

                        <h3>Thời gian làm việc</h3>
                        <p>
                            <span style="font-size: 90%;">
                                Cửa hàng làm việc từ 8-19h hàng ngày, nếu quý khách
                                muốn mua số lượng lớn hoặc đặt sỉ vui lòng liên hệ trực tiếp qua SĐT <a href="tel:0868357939">0868.357.939</a>
                            </span><br /><span style="font-size: 90%;">Xin cảm ơn!</span>
                        </p>
                        <h3><span style="font-size: 100%;">Fanpage Facebook</span></h3>
                        <p>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnongtraiweb&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=948110208640186"
                                    width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </p>

                    </div>
                </div>

            </div>

        </div>
        <!-- .section-content -->


        <style scope="scope">
            #section_2089788542 {
                padding-top: 31px;
                padding-bottom: 31px;
                background-color: rgb(255, 255, 255);
            }
        </style>
    </section>

    <div class="absolute-footer light medium-text-center text-center">
        <div class="container clearfix">


            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    Copyright 2019 © <strong>
                        <a href="https://nongtraiweb.com/"
                           target="blank">nongtraiweb.com</a>
                    </strong>. Thiết kế web bởi <a href="http://nongtraiweb.com/" target="blank">NongTraiWeb.Com</a>
                </div>
            </div>
            <!-- .left -->
        </div>
        <!-- .container -->
    </div>
    <!-- .absolute-footer -->
    <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline round hide-for-medium" id="top-link"><i class="icon-angle-up"></i></a>

</footer>