<!DOCTYPE html>
<html lang="vi" class="loading-site no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.php" />
    <link rel="stylesheet" href="../access/css/mobile_menu.css">
    <script>
        (function (html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <title>website bán cây</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Mẫu website bán cây văn phòng - Thiết kế web NTW &raquo;" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Mẫu website bán cây văn phòng - Thiết kế web NTW &raquo;" href="comments/feed/index.html" />

    </style>
    <link rel='stylesheet' id='dashicons-css' href='../access/wp-includes/css/dashicons.mind9e1.css?ver=4.9.22' type='text/css' media='all' />
    <link rel='stylesheet' id='menu-icons-extra-css' href='../access/wp-content/plugins/ot-flatsome-vertical-menu/libs/menu-icons/css/extra.mincf86.css?ver=0.10.2' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='../access/wp-content/plugins/contact-form-7/includes/css/styles3c21.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='devvn-quickbuy-style-css' href='../access/wp-content/plugins/devvn-quick-buy/css/devvn-quick-buy001e.css?ver=2.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='ot-vertical-menu-css' href='../access/wp-content/plugins/ot-flatsome-vertical-menu/assets/css/ot-vertical-menuf488.css?ver=1.1.0' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='flatsome-main-css' href='../access/wp-content/themes/flatsome/assets/css/flatsome7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-shop-css' href='../access/wp-content/themes/flatsome/assets/css/flatsome-shop7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-style-css' href='../access/wp-content/themes/cay-van-phong/style6aec.css?ver=3.0' type='text/css' media='all' />
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
        <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
        <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>Rất tiếc, sản phẩm này hiện không tồn tại. Hãy chọn một phương thức kết hợp khác.</p>
    </script>
    <script type='text/javascript' src='../access/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='../access/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='../access/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.22" />
    <meta name="generator" content="WooCommerce 3.5.10" />
    @*<link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />*@
    <!-- map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <!-- end-map -->
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ["Barlow:regular,700", "Roboto:regular,regular", "Barlow:regular,regular", "Dancing+Script:regular,400",]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = '../ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <noscript>
    </noscript>
    <link rel="icon" href="../access/wp-content/uploads/2022/03/cropped-logo-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="../access/wp-content/uploads/2022/03/cropped-logo-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="wp-content/uploads/2022/03/cropped-logo-1-180x180.png" />
    <meta name="msapplication-TileImage" content="https://cayxanh3.webdep.live/wp-content/uploads/2022/03/cropped-logo-1-270x270.png" />
    <link rel="stylesheet" href="../access/css/custom_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

</head>

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-72 woocommerce-no-js lightbox lazy-icons nav-dropdown-has-arrow">


    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
    @await Html.PartialAsync("_Header")
    <!-- header-wrapper-->
    <main id="main" class="">
        @RenderBody()
    </main>
    <!-- #main -->

     @await Html.PartialAsync("_Footer")
    @await RenderSectionAsync("Scripts", required: false)
    <!-- .footer-wrapper -->
    </div>
    <!-- #wrapper -->
    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="header-search-form search-form html relative has-icon">
                    <div class="header-search-form-wrapper">
                        <div class="searchform-wrapper ux-search-box relative is-normal">
                            <form role="search" method="get" class="searchform" action="https://cayxanh3.webdep.live/">
                                <div class="flex-row relative">
                                    <div class="flex-col search-form-categories">
                                        <select class="search_categories resize-select mb-0" name="product_cat">
                                            <option value="" selected='selected'>All</option>
                                        </select>
                                    </div>
                                    <!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm danh mục, sản phẩm..." />
                                        <input type="hidden" name="post_type" value="product" />
                                    </div>
                                    <!-- .flex-col -->
                                    <div class="flex-col">
                                        <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                            <i class=" icon-search"><i class="fa fa-search"></i></i>
                                        </button>
                                    </div>
                                    <!-- .flex-col -->
                                </div>
                                <!-- .flex-row -->
                                <div class="live-search-results text-left z-top"></div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="label-hot menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a href="#" class="nav-top-link">Sản phẩm bán chạy</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-27">
                    <a href="danh-muc-san-pham/tieu-canh-terrarium/index.html" class="nav-top-link">
                        Tiểu cảnh
                        Terrarium
                    </a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-28">
                            <a href="danh-muc-san-pham/tieu-canh-terrarium/chau-composite/index.html">
                                Chậu
                                Composite
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29"><a href="danh-muc-san-pham/tieu-canh-terrarium/chau-gom/index.html">Chậu gốm</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-30"><a href="danh-muc-san-pham/tieu-canh-terrarium/chau-su/index.html">Chậu sứ</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-31">
                            <a href="danh-muc-san-pham/tieu-canh-terrarium/chau-thuy-tinh/index.html">
                                Chậu thủy
                                tinh
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-32"><a href="danh-muc-san-pham/tieu-canh-terrarium/chau-ve/index.html">Chậu vẽ</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-33">
                            <a href="danh-muc-san-pham/tieu-canh-terrarium/tranh-cay-de-ban/index.html">
                                Tranh cây để
                                bàn
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-34">
                    <a href="danh-muc-san-pham/cay-canh-van-phong/index.html" class="nav-top-link">
                        Cây cảnh văn
                        phòng
                    </a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-35">
                            <a href="danh-muc-san-pham/cay-canh-van-phong/cay-canh-de-ban/index.html">
                                Cây cảnh để
                                bàn
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-36">
                            <a href="danh-muc-san-pham/cay-canh-van-phong/cay-canh-loc-khong-khi/index.html">
                                Cây cảnh
                                lọc không khí
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-37">
                            <a href="danh-muc-san-pham/cay-canh-van-phong/cay-canh-phong-thuy/index.html">
                                Cây cảnh
                                phong thủy
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-38">
                            <a href="danh-muc-san-pham/cay-canh-van-phong/cay-canh-thuy-sinh/index.html">
                                Cây cảnh thủy
                                sinh
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-47"><a href="danh-muc-san-pham/phu-kien-tieu-canh/cay-coi/index.html">Cây cối</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-40">
                    <a href="danh-muc-san-pham/chau-cay-canh/index.html" class="nav-top-link">Chậu cây cảnh</a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-41"><a href="danh-muc-san-pham/chau-cay-canh/chau-dat-nung/index.html">Chậu đất nung</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-42"><a href="danh-muc-san-pham/chau-cay-canh/chau-gom-su/index.html">Chậu gốm sứ</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-43"><a href="danh-muc-san-pham/chau-cay-canh/chau-khac/index.html">Chậu khác</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-44"><a href="danh-muc-san-pham/chau-cay-canh/chau-nhap-khau/index.html">Chậu nhập khẩu</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-45"><a href="danh-muc-san-pham/chau-cay-canh/chau-nhua/index.html">Chậu nhựa</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-46">
                            <a href="danh-muc-san-pham/chau-cay-canh/chau-thuy-tinh-chau-cay-canh/index.html">
                                Chậu thủy
                                tinh
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-48">
                    <a href="danh-muc-san-pham/sen-da/index.html" class="nav-top-link">Sen đá</a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-49"><a href="danh-muc-san-pham/sen-da/sen-da-co-lon/index.html">Sen đá cỡ lớn</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-50"><a href="danh-muc-san-pham/sen-da/sen-da-co-nho/index.html">Sen đá cỡ nhỏ</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-51"><a href="danh-muc-san-pham/sen-da/sen-da-co-trung/index.html">Sen đá cỡ trung</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-52"><a href="danh-muc-san-pham/sen-da/sen-da-giong-moi/index.html">Sen đá giống mới</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-53"><a href="danh-muc-san-pham/sen-da/sen-da-nhap-khau/index.html">Sen đá nhập khẩu</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-54">
                    <a href="danh-muc-san-pham/xuong-rong/index.html" class="nav-top-link">Xương rồng</a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-55"><a href="danh-muc-san-pham/xuong-rong/xuong-rong-bui/index.html">Xương rồng bụi</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-56">
                            <a href="danh-muc-san-pham/xuong-rong/xuong-rong-gia-re/index.html">Xương rồng giá rẻ</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-57">
                            <a href="danh-muc-san-pham/xuong-rong/xuong-rong-giong-moi/index.html">
                                Xương rồng giống
                                mới
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-58">
                            <a href="danh-muc-san-pham/xuong-rong/xuong-rong-nhap-khau/index.html">
                                Xương rồng nhập
                                khẩu
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-59">
                    <a href="danh-muc-san-pham/phu-kien-tieu-canh/index.html" class="nav-top-link">
                        Phụ kiện tiểu
                        cảnh
                    </a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-60"><a href="danh-muc-san-pham/phu-kien-tieu-canh/cay-coi/index.html">Cây cối</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-61"><a href="danh-muc-san-pham/phu-kien-tieu-canh/dong-vat/index.html">Động vật</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-62"><a href="danh-muc-san-pham/phu-kien-tieu-canh/hoat-hinh/index.html">Hoạt hình</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-63">
                            <a href="danh-muc-san-pham/phu-kien-tieu-canh/phu-kien-khac/index.html">Phụ kiện khác</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- inner -->
    </div>
    <!-- #mobile-menu -->

    <script>
        (function ($) {
            $(document).ready(function () {
                $(window).load(function () {
                    if ($('.single-product div#tab-description').length > 0) {
                        var wrap = $('.single-product div#tab-description');
                        var current_height = wrap.height();
                        var your_height = 300;
                        if (current_height > your_height) {
                            wrap.css('height', your_height + 'px');
                            wrap.append(function () {
                                return '<div class="devvn_readmore_flatsome devvn_readmore_flatsome_more"><a title="Xem thêm" href="javascript:void(0);">Xem thêm</a></div>';
                            });
                            wrap.append(function () {
                                return '<div class="devvn_readmore_flatsome devvn_readmore_flatsome_less" style="display: none;"><a title="Xem thêm" href="javascript:void(0);">Thu gọn</a></div>';
                            });
                            $('body').on('click', '.devvn_readmore_flatsome_more', function () {
                                wrap.removeAttr('style');
                                $('body .devvn_readmore_flatsome_more').hide();
                                $('body .devvn_readmore_flatsome_less').show();
                            });
                            $('body').on('click', '.devvn_readmore_flatsome_less', function () {
                                wrap.css('height', your_height + 'px');
                                $('body .devvn_readmore_flatsome_less').hide();
                                $('body .devvn_readmore_flatsome_more').show();
                            });
                        }
                    }
                });
            })
        })(jQuery)
    </script>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <div id="login-form-popup" class="lightbox-content mfp-hide">
        <div class="woocommerce-notices-wrapper"></div>
        <div class="account-container lightbox-inner">


            <div class="account-login-inner">

                <h3 class="uppercase">Đăng nhập</h3>

                <form class="woocommerce-form woocommerce-form-login login" method="post">


                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="username">
                            Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span>
                        </label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" />
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
                    </p>


                    <p class="form-row">
                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="8bc111cc22" /><input type="hidden" name="_wp_http_referer" value="/" /> <button type="submit" class="woocommerce-Button button" name="login"
                                                                                                                                                                                                value="Đăng nhập">
                            Đăng
                            nhập
                        </button>
                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
                                   type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span>
                        </label>
                    </p>
                    <p class="woocommerce-LostPassword lost_password">
                        <a href="tai-khoan/lost-password/index.html">Quên mật khẩu?</a>
                    </p>


                </form>
            </div>
            <!-- .login-inner -->


        </div>
        <!-- .account-login-container -->

    </div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/cayxanh3.webdep.live\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='../access/wp-content/plugins/contact-form-7/includes/js/scripts3c21.js?ver=5.1.1'></script>
    <script type='text/javascript' src='../access/wp-content/plugins/devvn-quick-buy/js/jquery.validate.min001e.js?ver=2.0.0'></script>
    <script type='text/javascript' src='../access/wp-content/plugins/devvn-quick-buy/js/jquery.bpopup.min001e.js?ver=2.0.0'></script>
    <script type='text/javascript' src='../access/wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
   
    </script>
    <script type='text/javascript' src='../access/wp-includes/js/wp-util.mind9e1.js?ver=4.9.22'></script>
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.minb284.js?ver=3.5.10'></script>
    
    <script type='text/javascript' src='../access/wp-content/plugins/devvn-quick-buy/js/devvn-quick-buy001e.js?ver=2.0.0'></script>
    <script type='text/javascript' src='../access/wp-content/plugins/ot-flatsome-vertical-menu/assets/js/ot-vertical-menuf488.js?ver=1.1.0'></script>
  
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.minb284.js?ver=3.5.10'></script>
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
   
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.minb284.js?ver=3.5.10'></script>
   
    </script>
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.minb284.js?ver=3.5.10'></script>
    <script type='text/javascript' src='../access/wp-includes/js/hoverIntent.minc245.js?ver=1.8.1'></script>
   
    <script type='text/javascript' src='../access/wp-content/themes/flatsome/assets/js/flatsome7e2e.js?ver=3.8.1'></script>
    <script type='text/javascript' src='../access/wp-content/themes/flatsome/inc/extensions/flatsome-lazy-load/flatsome-lazy-load5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../access/wp-content/themes/flatsome/assets/js/woocommerce7e2e.js?ver=3.8.1'></script>
  
    <script type='text/javascript' src='../access/wp-includes/js/zxcvbn-async.min5152.js?ver=1.0'></script>
    
    </script>
    <script type='text/javascript' src='../access/wp-admin/js/password-strength-meter.mind9e1.js?ver=4.9.22'></script>
    
    <script type='text/javascript' src='../access/wp-content/plugins/woocommerce/assets/js/frontend/password-strength-meter.minb284.js?ver=3.5.10'></script>
   </body>

</html>