<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Quản lý người dùng </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="authentication-login.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Danh Sách Người Dùng </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link"
                       href="widgets.html"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Quản lý sản phẩm</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/DanhSachSanPham" asp-route-id="" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Danh Mục Sản Phẩm </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/LoaiSanPham" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Danh Sách Loại Sản Phẩm </span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href=""
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Quản lý hóa đơn </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/DanhSachHoaDon" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Danh sách hóa đơn </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu"> Hóa đơn chờ xác nhận</span>
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-face"></i><span class="hide-menu">Nhà Cung Cấp </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="icon-material.html" class="sidebar-link">
                                <i class="mdi mdi-emoticon"></i><span class="hide-menu"> Material Icons </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="icon-fontawesome.html" class="sidebar-link">
                                <i class="mdi mdi-emoticon-cool"></i><span class="hide-menu"> Font Awesome Icons </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Admin/DanhSachTinTuc"
                       aria-expanded="false">
                        <i class="mdi mdi-pencil"></i><span class="hide-menu">Quản lý tin tức</span>
                    </a>
                </li>
              @*  <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href=""
                       aria-expanded="false">
                        <i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Xác nhận đơn hàng </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="index2.html" class="sidebar-link">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> Dashboard-2 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-gallery.html" class="sidebar-link">
                                <i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> Gallery </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-calendar.html" class="sidebar-link">
                                <i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Calendar </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-invoice.html" class="sidebar-link">
                                <i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Invoice </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-chat.html" class="sidebar-link">
                                <i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat Option </span>
                            </a>
                        </li>
                    </ul>
                </li>
               *@
                @*<li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-alert"></i><span class="hide-menu">Errors </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="error-403.html" class="sidebar-link">
                                <i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 403 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="error-404.html" class="sidebar-link">
                                <i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 404 </span>
                            </a>
                        </li>
                        
                    </ul>
                </li>*@

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
