@model IEnumerable<TTCM_Web.Models.TLoaiSp>
@{
    ViewData["Title"] = "LoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Loại Sản phẩm</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Thêm mới</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                           Loại Sản phẩm
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Loai)
                            </td>
                            <td>
                                <a class="btn btn-success" href="/Admin/SanPham/SuaSanpham" asp-action="Edit" asp-route-id="@item.MaLoai">Edit</a> 
                                <a class="btn btn-success" href="" asp-action="Delete" asp-route-id="@item.MaLoai">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
