@model TTCM_Web.Models.TDanhMucSp

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm Sản Phẩm Mới</h1>
<hr />
<div class="row container">
    <div class="col-md-4">
        <form asp-action="ThemSanPhamMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"> Mã Sản Phẩm</label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label">Tên Sản Phẩm</label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTinTuc" class="control-label">Mã Tin Tức</label>
                <select asp-for="MaTinTuc" class ="form-control" asp-items="ViewBag.MaTinTuc"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="MaNcc" class="control-label">Mã Nhà cung cấp</label>
                <select asp-for="MaNcc" class ="form-control" asp-items="ViewBag.MaNcc"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="ThoiGianBaoHanh" class="control-label">Thời gian bảo hành</label>
                <input asp-for="ThoiGianBaoHanh" class="form-control" />
                <span asp-validation-for="ThoiGianBaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiThieuSp" class="control-label">Giới thiệu sản phẩm</label>
                <input asp-for="GioiThieuSp" class="form-control" />
                <span asp-validation-for="GioiThieuSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChietKhau" class="control-label">Chiết khấu</label>
                <input asp-for="ChietKhau" class="form-control" />
                <span asp-validation-for="ChietKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label">Mã loại</label>
                <select asp-for="MaLoai" class ="form-control" asp-items="ViewBag.MaLoai"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label">Ảnh </label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhoNhat" class="control-label"></label>
                <input asp-for="GiaNhoNhat" class="form-control" />
                <span asp-validation-for="GiaNhoNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLonNhat" class="control-label"></label>
                <input asp-for="GiaLonNhat" class="form-control" />
                <span asp-validation-for="GiaLonNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

